<link rel="stylesheet" href="/css/addStaffs.css">
{{!-- <p>{{MaNhanVien}}</p> --}}
<div class="addstaffs">
    <div class="addstaffs__header">
        <div class="addstaffs__header-back">
            <a href="/staffs" class="addstaffs__header-back-link">
                <i class=" fas fa-chevron-left"></i>
            </a>
        </div>
        <h3 class="addstaffs__heading">Sửa thông tin nhân viên</h3>
    </div>
    <form class="addstaffs__container" method="post" action="/handle/editNhanVien">
        <div class="addstaffs__container-info">
            <label class="addstaffs__container-label" for="">Mã nhân viên:</label>
            <input class="addstaffs__container-input" type="text" name="MaNhanVien"  readonly value="{{MaNhanVien}}">
        </div>
        <div class="addstaffs__container-info">
            <label class="addstaffs__container-label" for="">Họ và tên:</label>
            <input class="addstaffs__container-input" t type="text" name="TenNhanVien" id="" required value="{{TenNhanVien}}">
        </div>
        <div class="addstaffs__container-info">
            <labe class="addstaffs__container-label" for="">Số điện thoại:</labe>
            <input class="addstaffs__container-input" type="text" name="SDTNhanVien" id="" required value="{{SDTNhanVien}}">
        </div>
        <div class="addstaffs__container-info">
            <label class="addstaffs__container-label" for="">Chức vụ:</label>
            <select class="addstaffs__container-select" name="ChucVu" id="">
                <option value="Tài xế xe trung chuyển">Tài xế xe trung chuyển</option>
                <option value="Hướng dẫn đoàn tham quan">Hướng dẫn đoàn tham quan</option>
            </select>
        </div>
        <div class="addstaffs__container-btn">
            <button>LƯU THÔNG TIN</button>
        </div>
    </form>
</div>
<script>
   
   
</script>